DB_HOST=your-rds-endpoint.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=your_password
DB_NAME=college_resource_reservation
DB_PORT=3306

JWT_SECRET=cloud_resource_secret_key
PORT=5001
FRONTEND_URL=http://localhost:5173
